body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    overflow-x: hidden;
}

.view-event-attendant-page-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.events-container {
    width: 100%;
    max-width: 800px;
}

.event-details {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-info {
    flex: 1;
    margin-right: 20px;
}

.event-details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #2c3e50;
}

.event-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #4a5568;
}

.event-image {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px; /* Añade un borde redondeado a la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra a la imagen */
}

.register-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #333;
}