body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #4299e1, #9f7aea);
}

.register-container {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Asegura que los elementos estén centrados verticalmente */
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que los elementos dentro del grupo estén centrados */
}

label {
    width: 100%; /* Asegura que las etiquetas ocupen todo el ancho del grupo */
    color: #4a5568;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left; /* Alinea las etiquetas a la izquierda */
}

.register-input {
    width: 100%;
    height: 2.5rem;
    padding: 0.75rem;
    border: 1px solid #cbd5e0;
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: black;
}

.register-input:focus {
    border-color: #4299e1;
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.register-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #3182ce;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    font-size: 1rem;
    margin-top: 1rem; /* Añade un margen superior para separar el botón del último campo de entrada */
}

.register-button:hover {
    background-color: #2b6cb0;
}